// _main.scss

// Stripping styles
body, h1, h2, h3, p, ul, li, a {
   margin: 0;
   padding: 0;
}

main, section, footer {
   background-color: $sixth;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
   box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.3);
}

.wrapper {
   max-width: 1200px;
   width: 90%;
   margin: 0 auto;
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
}

// Skip Link styles
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Nav styles
nav {
   padding: 5px 0;
   background: $fourth;
   position: fixed;
   width: 100%;
   z-index: 50;
}

nav ul {
   display: flex;
   justify-content: flex-end;
}

nav a {
   display: inline-block;
   padding: 10px;
   margin: 10px 20px;
   text-transform: uppercase;
   font-weight: 500;
   transition: 0.3s;
   color: $fifth;
}

nav a:hover,
nav a:focus {
   color: white;
}

// Header styles
header {
   height: 100vh;
   background-image: url("../assets/beigeBackground.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   z-index: -10;
   display: flex;
   justify-content: space-around;
   text-align: center;
}

h1 {
   font-size: 4rem;
}

#home h1, #home h2 {
   color: $fifth;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   top: 300px;
   left: 125px;
   text-align:left;
}

#home h2 {
   font-size: 2rem;
}
.headerImg {
   height: 500px;
   width: 800px;
   transform: scale(0.9, 0.9) rotate(3deg);
   transition: 1s;
   position: relative;
   top: 20vh;
   right: 100px;
   background: url("../assets/petolake.jpeg") no-repeat;
   background-size: contain;
}

.headerImg:hover,
.headerImg:focus {
   transform: rotate(0deg);
   background: url("../assets/beehive.jpg") no-repeat;
   background-size: contain;
}

// About styles
.about  {
   background-color: $third;
   padding: 100px 0;
   border-bottom: 10px solid white;
   h2 {
      padding-bottom: 50px;
   }
}

.aboutContainer {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.aboutContainer img {
   width: 30%;
   // border: 6px solid white;
   border-radius: 50%;;
}

.aboutRight {
   width: 70%;
   color: white;
}

.aboutRight p {
   color: white;
   padding-left: 75px;
   letter-spacing: 1px;
   font-size: 0.9rem;
}

.aboutRight a {
   color: $first;
}

.aboutRight ul {
   display: flex;
   justify-content: flex-end;
   text-align: center;
}

.aboutRight i {
   font-size: 2rem;
   color: white;
   padding-left: 75px;
}

//  Skills styles
.skills  {
   background-color: $fifth;
   padding: 100px 0;
   h2 {
      padding-bottom: 50px;
   }
}

.skillsFlex ul {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: $fifth;
   text-align: center;
}

.skillsFlex li {
   margin: 30px 40px;
}

.skillsFlex i {
   font-size: 3rem;
   color: white;
   transition: 0.3s;
   text-align: center;
}

   .skillsFlex i:hover,
   .skillsFlex i:focus {
   color: $third;
}

.skillsFlex p {
   font-size: 1.3rem;
   color: white;
}

// Projects styles
.projects {
   background-color: $second;
   padding: 100px 0;
   margin-top: 0.5rem;
   h2, h3, p, li  {
      color: white;
   }
}

.projectTwo, .projectOne, .assignmentOne {
   display: flex;
   padding: 50px 10px;
}

.projects a {
   margin: 10px;
   padding: 20px;
}
.projectLinks a:hover,
.projectLinks a:focus {
   color: $sixth;
}

.projectWords {
   margin-left: 50px;
   width: calc(60% - 20px);
}

.projectPic {
   width: calc(40% - 20px);
}

.projectPic img {
   border-radius: 30px;
   // border: 2px solid white;
}


//  Gallery styles
.gallery  {
   background-color: $fourth;
   padding: 100px 0;
   margin-top: 0.5rem;
}

.gallery h2 {
   color: $fifth;
   margin-bottom: 30px;
}

.artseaLogo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100px;
   height: 100px;
}

.artseaLogo img {
   border-radius: 50%;
}

.artseaLogo a {
   padding: 15px;
}

.artseaLogo a:hover,
.artseaLogo a:focus {
   color: $third;
}

.gallery img {
   width: 300px;
   flex-basis: 25%;
   margin: 20px;
}

.galleryImgs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 10px;
}

// Contact styles
.contact  {
   background-color: $third;
   margin-top: 0.5rem;
}

.contact h2 {
   color: white;
   margin-bottom: 50px;
   padding: 100px 0;
}