// _main.scss

// Stripping styles
body, h1, h2, h3, p, ul, li, a {
   margin: 0;
   padding: 0;
}

main, section, footer {
   background-color: $sixth;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
   object-fit: cover;
   box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.3);
}

.wrapper {
   max-width: 1200px;
   width: 90%;
   margin: 0 auto;
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
}

// Skip Link styles
.skip-link {
   position: absolute;
   left: -1000px;
   top: 5px;
   z-index: 999;
   background: white;
   color: black;
}

.skip-link:focus {
   left: 0;
}

// Nav styles
.mainNav {
   display: flex;
   justify-content: center;
   padding: 5px 0;
   background: $navColour;
   position: fixed;
   width: 100%;
   z-index: 50;
}

.mainNav a {
   display: inline-block;
   padding: 15px;
   margin: 0 8px;
   text-transform: lowercase;
   font-weight: 500;
   font-size: 0.9rem;
   transition: 0.3s;
   color: $seventh;
}

.mainNav a:hover,
.mainNav a:focus {
   color: $sixth;
}

.joeySeaNav a {
   font-family: $titleFont;
   text-shadow: 2px 2px 2px $sixth;
   font-size: 1.9rem;
   font-weight: 700;
}

.joeySeaNav a:hover,
.joeySeaNav a:focus {
   color: $fifth;
}

// Mobile Nav styles
.mobileNav {
   display: none;
   // transform: translateX(-100%);
   // transition: transform 0.2s ease;
   
}

.mobileNavButton {
   display: none;
}

// Header styles
header {
   height: 100vh;
   background-image: linear-gradient($second, $second, $first);
}

.headerFlex {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
}

.fa-chevron-down {
   position: relative;
   top: 10vh;
   left: 0px;
   font-size: 2rem;
   padding: 30px;
   animation: pulse 2s ease-in-out infinite;
   color: $seventh;
}

.fa-chevron-up {
   position: relative;
   bottom: -575px;
   right: -250px;
   font-size: 2rem;
   padding: 30px;
   animation: pulse 2s ease-in-out infinite;
   color: $sixth;  
}

@keyframes pulse {
   from {
      transform: translateY(0rem);
   }
   50% {
      transform: translateY(2rem);
   }
   to {
      transform: translateY(0rem);
   }
}

.heading {
   color: white;
   text-shadow: 3px 5px 5px $seventh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.headerFlex h2 {
   font-size: 2rem;
   padding-top: 15px;
   text-align: left;
}

.polaroid {
   height: fit-content;
   position: relative;
   top: 8rem;
   right: -1rem;
   background-color: white;
   transform: scale(0.9, 0.9) rotate(7deg);
   transition: 1s;
   border-radius: 10px;
}

.polaroid:hover {
   transform: rotate(0deg);
}

.headerImg {
   height: auto;
   width: 550px;
   padding: 20px 20px 100px 20px;
   border-radius: 10px;
   opacity: 95%;
}

// About styles
.about .wrapper {
   background-color: $sixth;
   padding: 100px 50px;
   h2 {
      padding-bottom: 50px;
      color: $seventh;
   }
}

.aboutContainer {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.aboutContainer img {
   width: 30%;
   border-radius: 10px;
   opacity: 95%;
}

.aboutRight {
   width: 70%;
   color: white;
}

.aboutRight p {
   color: $seventh;
   padding-left: 75px;
   letter-spacing: 1px;
   font-size: 0.9rem;
}

.aboutRight a {
   transition: 0.3s;
   color: black;
}

.about a:hover,
.about a:focus {
   color: $seventh;
}

.aboutRight ul {
   display: flex;
   justify-content: center;
   text-align: center;
}

.aboutRight i {
   font-size: 2rem;
   padding-left: 75px;
   background:-moz-linear-gradient(top, $first 0%, $seventh 100%); 
   background: -webkit-linear-gradient(top, $first 0%,$seventh 100%); 
   background: linear-gradient(to bottom, $first 0%,$fourth 100%);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color:transparent;
}

//  Skills styles
.skills  {
   background-color: $fifth;
   padding: 100px 0;
   margin-top: -1rem;
   h2 {
      padding-bottom: 50px;
      text-align: center;
   }
}

.skillsFlex ul {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   color: $fifth;
   text-align: center;
}

.skillsFlex li {
   margin: 30px 40px;
}

.skillsFlex i {
   font-size: 3rem;
   background:-moz-linear-gradient(top, $first 0%, $fourth 100%); 
   background: -webkit-linear-gradient(top, $first 0%,$fourth 100%); 
   background: linear-gradient(to bottom, $first 0%,$fourth 100%);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color:transparent;
   transition: 0.1s;
   text-align: center;
}

   .skillsFlex i:hover,
   .skillsFlex i:focus {
   color: $first;
}

.skillsFlex p {
   font-size: 1.3rem;
   color: white;
}

// Projects styles
.projects  {
   // background-color: $third;
   background: $second;
   padding: 100px 60px;
   h2, h3, p, li  {
      color: white;
   }
   h2 {
      padding-bottom: 50px;
   }
}

.projects h3 {
   text-transform: capitalize;
   font-size: 2rem;
   margin-bottom: 35px;
   margin-top: 10px;
}

.projectTwo, .projectOne, .assignmentOne {
   display: flex;
   padding: 50px 10px;
}

.projects a {
   margin: 10px;
   padding: 20px;
   transition: 0.3s;
   font-weight: 500;
}

.projectLinks a:hover,
.projectLinks a:focus {
   color: $sixth;
}

.projectWords {
   margin-left: 50px;
   width: calc(60% - 20px);
   text-align: center;
}

.projectPic {
   width: calc(40% - 20px);
}

.projectPic img {
   border-radius: 20px;
   border: 3px solid $sixth;
}

.projectSkills {
   display: flex;
   justify-content: center;
}

.projectSkills li {
   font-size: 0.9rem;
   letter-spacing: 1px;
   text-transform: uppercase;
   margin: 15px;
}


//  Gallery styles
.gallery  {
   background-color: $fourth;
   padding: 100px 50px;
}

.gallery h2 {
   color: $seventh;
   margin-bottom: 30px;
}

.gallery p,
.gallery a {
   color: $seventh;
}

.gallery a {
   color: $third;
   transition: 0.3s;
}

.gallery a:hover,
.gallery a:focus {
   color: white;
}

.gallery img {
   width: 300px;
   flex-basis: 25%;
   margin: 20px;
}

.galleryImgs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 10px;
}

// Contact styles
#contact {
   background-color: $sixth;
   padding-top: 60px;
}

#contact h2 {
   color: $seventh;
   padding: 40px 0;
}

.formContainer {
   background: $second;
   padding: 20px 0;
   margin-bottom: 60px;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

form {
   width: 60%;
}

.formTop {
   display: flex;
}

.formBottom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
   width: 50%;
}

input[type="text"] {
   margin-left: 0;
}

input[type="email"] {
   margin-right: 0;
}

input, textarea {
   font-family: $bodyFont;
   font-weight: 300;
   font-size: 0.8rem;
   border: none;
   padding: 15px;
   margin: 10px;
   border-radius: 5px;
}

textarea {
   border: 1px solid white;
   resize: none;
   width: 100%;
   height: 300px;
}

button {
   width: 50%;
   font-family: $bodyFont;
   display: inline-block;
   padding: 10px 80px;
   border-radius: 10px;
   background: $fifth;
   color: $sixth;
   transition: 0.3s;
   border: none;
   margin-top: 20px;
}

button:hover,
button:focus {
   background-color: $seventh;
}

.socials {
   background-color: $fifth;
   color: white;
   display: flex;
   justify-content: center;
   padding: 40px 0;
}

.socials i {
   color: $fourth;
   font-size: 5rem;
   margin: 40px;
   transition: 0.3s;
}

.socials i:hover,
.socials i:focus {
   color: $first;
}

footer p {
   color: white;
   text-align: center;
   background: $fifth;
   padding-bottom: 15px;
   font-size: 0.8rem;
}


// .fa-chevron-up,
// .fa-chevron-down {
// 	font-size: 2rem;
// 	animation: arrow 1s linear 0s infinite normal;
// 	a {
// 		padding: 15px;
// 	}
// }

// .fa-chevron-down {
// 	margin-left: -15px;
// }

// // arrow scroll animation
// @keyframes  ____ {
// 	50% {
// 		transform: translateY(-10px);
// 	}
// 	100% {
// 		transform: translateY(0px);
// 	}
// }