//_mediaQueries.scss

@media (max-width: 1230px) {
   .aboutRight ul {
      flex-wrap: wrap;
   }

   .headerFlex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 180px;
   }
   
   .headerImg {
      width: 375px;
   }
   
   .polaroid {
      top: 4rem;
      right: -1rem;
   }
   
   .fa-chevron-down {
      top: 10vh;
   }
}

@media (max-width: 1155px) {

   .gallery {
      padding: 75px 0;
   }

   .gallery img {
      width: 150px;
      margin: 10px;
   }
}

@media (max-width: 830px) {
   .about, .projects, .skills {
         padding: 50px 10px;
      }

   .aboutContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
         width: 40%;
      }
   }

   .aboutRight {
      width: 100%;
      padding-top: 30px;
      p {
         padding-left: 0;
      }
      li {
         margin: 20px;
      }
      i {
         padding-left: 0;
      }
   }

   .skillsFlex {
      p {
         font-size: 1rem;
      }
      i {
         font-size: 2.3rem;
      }
   }

   .projectPic {
      width: 60%;
   }

   .projectContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   }

   .projectWords {
      margin-top: 50px;
      width: 100%;
      margin-left: 0;
   }

   .formContainer {
      padding: 50px;
   }

   form {
      width: 100%;
   }

   button {
      width: 100%;
      
   }
}


@media (max-width: 750px) {
   .joeySeaNav {
      padding-left: 25px;
      font-size: 1.6rem;
   }

   .mainNav {
      display: none;
   }

   .mobileNavButton {
      display: block;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: -20px;
      width: 100%;
      border-radius: 0;
      padding: 5px;
      margin-top: 15px;
      background: $sixth;
      color: $seventh;
   }

   .mobileNav {
      display: flex;
      flex-direction: column;
      background-color: $sixth;
      position: fixed;
      width: 100%;
      text-align: center;
      z-index: 100;
      text-align: center;
      color: $seventh;
      ul {
         display: none;
      }
      li {
         padding: 10px;
      }
      li:first-child {
         padding-top: 50px;
      }
      i {
         cursor: pointer;
         display: inline-block;
         padding: 0 20px;
      }
   }
   
   ul.active {
      display: block;
      transition: all 0.8s;
   }

   ul.active a {
      display: block;
      padding: 10px;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 0.9rem;
      transition: all 0.3s;
      color: $third;
   }

   ul.active a:hover {
      color: $seventh;
   }
}

@media (max-width: 625px) {
   .projectSkills {
      flex-wrap: wrap;
   }

   .projectPic {
      width: 90%;
   }

   .socials i {
      font-size: 3rem;
      padding: 0;
   }
}

@media (max-width: 540px) {
   h1 {
      font-size: 3.5rem;
      letter-spacing: 5px;
   }
   
   .headerFlex h2 {
         font-size: 1.8rem;
         padding-top: 25px;
      }

   p {
      font-size: 0.8rem;
   }

   .fa-chevron-down {
      display: none;
   }

   .headerFlex {
      padding-top: 90px;
   }

   .headerImg  {
      width: 310px;
      right: 0rem;
      padding: 10px 10px 90px 10px;
   }

   .polaroid {
      top: 2rem;
      right: 0rem;
   }

   
   .aboutContainer img {
      width: 65%;
   }
   
   .aboutRight p {
      font-size: 0.8rem;
   }
   
   .skillsFlex li {
      margin: 20px 10px;
   }
   
   .projectContainer {
      padding: 20px 10px;
   }

   .projects a {
      padding: 0;
   }

   .projects h3 {
      font-size: 1.8rem;
   }

   .projectSkills li {
      margin: 5px 15px;
   }

   .projectText p {
      margin-top: 20px;
   }

   .gallery img {
      width: 130px;
      margin: 8px;
   }

   .socials {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      i {
         font-size: 2rem;
         padding: 0;
      }
      ul {
         padding: 0;
         margin: 0;
      }
   }

   .formContainer {
      padding: 25px;
      border-radius: 15px;
   }

   .formTop {
      display: flex;
      flex-direction: column;
   }

   input {
      width: 100%;
   }

   input[type="text"] {
   margin-right: 0;
   }

   input[type="email"] {
      margin-left: 0;
   }


}

