//_mediaQueries.scss

@media (max-width: 1230px) {
   .aboutRight ul {
      flex-wrap: wrap;
   }
}


@media (max-width: 750px) {
   .joeySeaNav {
      padding-left: 30px;
   }

   .mainNav {
      display: none;
   }

   .mobileNavButton {
      display: block;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: -20px;
      width: 100%;
      border-radius: 0;
      padding: 10px;
      background: $sixth;
      color: $seventh;
      margin-top: 15px;
      text-align: left;
   }

   .mobileNav {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      text-align: center;
      background-color: $sixth;
      z-index: 100;
      text-align: center;
      color: $seventh;
      ul {
         display: none;
      }
      li {
         padding: 10px;
      }
      i {
         cursor: pointer;
         display: inline-block;
         padding: 0 30px;
      }
   }
   
   ul.active {
      display: block;
      transition: all 0.8s;
   }

   ul.active a {
      display: inline-block;
      padding: 10px;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 0.9rem;
      transition: 0.3s;
      color: $third;
   }

   ul.active a:hover {
      color: $seventh;
   }
}