// _.typography.scss

html {
   font-size: 125%;
   scroll-behavior: smooth;
}

h1, h2, h3 {
   font-family: $titleFont;
   font-weight: 700;
   text-transform: lowercase;
   }

h1 {
   font-size: 4.5rem;
   letter-spacing: 8px;
}

h2 {
   color: white;
   font-size: 2.6rem;
   letter-spacing: 3px;
}

p, a, li {
   font-family: $bodyFont;
   font-weight: 300;
   color: $fifth;
   line-height: 30px;
}

