// _.typography.scss

html {
   font-size: 125%;
   scroll-behavior: smooth;
}

h1, h2, h3 {
   font-family: 'Bigilla';
   font-weight: bold;
   // text-transform: lowercase;
   letter-spacing: 3px;
   }

h1 {
   font-size: 4.5rem;
   letter-spacing: 10px;
   text-transform: lowercase;
   font-weight: bold;
}

h2 {
   color: white;
   font-size: 2.4rem;
   letter-spacing: 8px;
   text-transform: lowercase;
}

p, a, li {
   font-family: $bodyFont;
   font-weight: 300;
   color: $fifth;
   line-height: 31px;
}

