// _variables.scss

// Fonts
$titleFont: 'Cardo', serif;
$bodyFont: 'Montserrat', sans-serif;

// Site colours
$first: #f4bbc2;
$second: #d0a8b1;
$third: #ae8b93;
$fourth: #dad9e1;
$fifth: #5f5a6d;
$sixth: #f2f1f6;