html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Bigilla";
  src: url("../assets/fonts/bigilla-cdnfonts/Bigilla-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Bigilla";
  src: url("../assets/fonts/bigilla-cdnfonts/Bigilla.otf");
  font-weight: normal;
}
body, main, section, footer {
  background-color: #f2f1f6;
}

html {
  font-size: 125%;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Bigilla";
  font-weight: bold;
}

h1 {
  font-size: 5.9rem;
}

h2 {
  color: white;
  font-size: 3.7rem;
}

p, a, li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #5f5a6d;
  line-height: 31px;
  font-size: 0.9rem;
}

body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.reveal.activee {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0;
  background: #f2f1f6;
  position: fixed;
  width: 100%;
  z-index: 50;
  letter-spacing: 1px;
}

.mainNav a {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  letter-spacing: 1px;
  padding: 15px;
  padding-bottom: 3px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c39ca5;
  position: relative;
}

.mainNav a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #715860;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.mainNav a:hover::before {
  width: 100%;
}

.mainNav a:hover,
.mainNav a:focus {
  color: #715860;
}

.joeySeaNav {
  font-family: "Bigilla";
  text-shadow: 2px 2px 2px #dad9e1;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px;
  color: #715860;
}

.mobileNav {
  display: none;
}
.mobileNav i {
  font-size: 1.5rem;
  padding-right: 10px;
}

span {
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0a8b1), to(#c39ca5));
  background-image: linear-gradient(#d0a8b1, #c39ca5);
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.fa-chevron-down {
  position: relative;
  top: 10vh;
  font-size: 2rem;
  -webkit-animation: pulse 2s ease-in-out infinite;
          animation: pulse 2s ease-in-out infinite;
  color: #715860;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}
.heading {
  color: white;
  text-shadow: 3px 5px 5px #715860;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: slideIn;
          animation: slideIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes slideIn {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
.headerFlex h2 {
  font-size: 1.5rem;
  padding-top: 15px;
  text-align: left;
}

#message {
  letter-spacing: 6px;
}

.polaroid {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 2rem;
  right: -1rem;
  background-color: white;
  -webkit-transform: scale(0.9, 0.9) rotate(7deg);
          transform: scale(0.9, 0.9) rotate(7deg);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
}

.polaroid:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.headerImg {
  height: auto;
  width: 400px;
  padding: 15px 15px 105px 15px;
  border-radius: 10px;
}

.about {
  background-color: #f2f1f6;
  padding: 100px 0;
}
.about h2 {
  padding-bottom: 50px;
  color: #715860;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.aboutContainer img {
  width: 30%;
  border-radius: 40px;
}

.aboutRight {
  width: 70%;
  color: white;
}
.aboutRight p {
  color: #715860;
  padding-left: 75px;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.aboutRight a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c39ca5;
}
.aboutRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.aboutRight li p {
  font-size: 0.75rem;
}
.aboutRight i {
  font-size: 1.5rem;
  padding-left: 75px;
  color: #d0a8b1;
}

.about a:hover,
.about a:focus {
  color: #f4bbc2;
}

.skills {
  background-color: #5f5a6d;
  padding: 100px 0;
}
.skills h2 {
  padding-bottom: 50px;
}

.skillsFlex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #5f5a6d;
  text-align: center;
}
.skillsFlex li {
  padding-top: 35px;
  width: 25%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skillsFlex p {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  padding-top: 10px;
  color: white;
  letter-spacing: 1px;
}
.skillsFlex i {
  font-size: 2.3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4bbc2), to(#dad9e1));
  background: linear-gradient(to bottom, #f4bbc2 0%, #dad9e1 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.skillsFlex li:hover,
.skillsFlex li:focus {
  scale: 1.19;
}

.projects {
  background: #d0a8b1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0a8b1), to(#c39ca5));
  background-image: linear-gradient(#d0a8b1, #c39ca5);
  padding: 100px 0px;
}
.projects h2, .projects h3 {
  color: white;
}
.projects h2 {
  padding-bottom: 30px;
}
.projects h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}
.projects p, .projects li {
  color: #5f5a6d;
}
.projects a {
  margin: 5px;
  padding: 10px;
  padding-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

a.partnerLink {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: #767184;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 0.9rem;
}

a.partnerLink:hover,
a.partnerLink:focus {
  color: #767184;
}

.projects a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.projects a:hover::before {
  width: 100%;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
}

.projectLinks {
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 7px;
  color: white;
  border-bottom: 1px solid white;
}

.projectLinks a:hover,
.projectLinks a:focus {
  color: #767184;
}

.projectWords {
  margin-left: 70px;
  width: calc(55% - 70px);
}

.projectPic {
  width: calc(45% - 50px);
}
.projectPic img {
  border-radius: 20px;
}

.projectSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projectSkills li {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 15px;
  color: #f2f1f6;
}

.evenProjects .projectWords {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 50px;
  margin-left: 0;
}

.gallery {
  background-color: #dad9e1;
  padding: 80px 50px;
}
.gallery h2 {
  color: #715860;
  margin-bottom: 50px;
}
.gallery p, .gallery a {
  color: #715860;
}
.gallery a {
  color: #c39ca5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.gallery img {
  width: 300px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 20px;
  border-radius: 10px;
}

.gallery a:hover,
.gallery a:focus {
  color: white;
}

.galleryImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnContainer button {
  width: 10%;
  margin: 10px;
}

#contact {
  background-image: url("../assets/beigeBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}
#contact h2 {
  color: #715860;
  padding: 30px 0;
}

.formContainer {
  background: #d0a8b1;
  padding: 30px 0;
  margin-bottom: 60px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formContainer h2 {
  text-align: center;
}
.formContainer p {
  background: #d0a8b1;
  font-size: 0.9rem;
}

form {
  width: 65%;
}

.formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 50%;
}

input[type=text] {
  margin-left: 0;
}

input[type=email] {
  margin-right: 0;
}

input, textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

textarea {
  border: 1px solid white;
  resize: none;
  width: 100%;
  height: 170px;
}

button {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 10px 80px;
  border-radius: 10px;
  background: #5f5a6d;
  color: #f2f1f6;
  letter-spacing: 1px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin: 20px 0;
  transition: 0.3s;
}

button:hover,
button:focus {
  background-color: #715860;
  scale: 1.1;
}

.socials {
  background-color: #5f5a6d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
.socials i {
  color: #767184;
  font-size: 4rem;
  margin: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials i:hover,
.socials i:focus {
  color: #f4bbc2;
}

footer p {
  color: #f2f1f6;
  text-align: center;
  background: #5f5a6d;
  padding-bottom: 10px 0;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

@media (max-width: 1220px) {
  .aboutRight ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .aboutRight li {
    width: 50%;
    padding-top: 20px;
  }
  .headerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerImg {
    width: 375px;
  }
  .polaroid {
    top: 3rem;
  }
  .fa-chevron-down {
    top: -100px;
  }
}
@media (max-width: 920px) {
  .about, .projects, .skills, .gallery .contact {
    padding: 50px 10px;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutContainer img {
    width: 40%;
  }
  .aboutRight {
    width: 100%;
    padding-top: 30px;
  }
  .aboutRight p {
    padding-left: 0;
  }
  .aboutRight i {
    padding-left: 0;
  }
  .skillsFlex p {
    font-size: 0.9rem;
  }
  .skillsFlex i {
    font-size: 1.9rem;
  }
  .projectPic {
    width: 60%;
  }
  .projectContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectWords {
    margin-top: 50px;
    width: 100%;
    margin-left: 0px;
  }
  .evenProjects .projectWords {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
    margin-left: 0;
  }
  .formContainer {
    padding: 50px;
  }
  form {
    width: 100%;
  }
  button {
    width: 100%;
  }
}
@media (max-width: 810px) {
  .joeySeaNav {
    padding-left: 15px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .mainNav {
    display: none;
  }
  .mobileNavButton {
    display: block;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -13px;
    width: 100%;
    margin-top: 13px;
    background: #f2f1f6;
    color: #715860;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f2f1f6;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
    text-align: center;
    color: #715860;
  }
  .mobileNav ul {
    display: none;
  }
  .mobileNav li {
    padding: 3px;
  }
  .mobileNav li:first-child {
    padding-top: 50px;
  }
  .mobileNav i {
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
  }
  ul.active {
    display: block;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  ul.active a {
    display: block;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #c39ca5;
    font-family: "Open Sans", sans-serif;
  }
  ul.active a:hover {
    color: #715860;
  }
  .headerImg {
    width: 300px;
    right: 0rem;
    padding: 10px 10px 80px 10px;
  }
  .fa-chevron-down {
    top: 5vh;
    font-size: 1.2rem;
  }
  .gallery {
    padding: 50px 10px;
  }
}
@media (max-width: 640px) {
  .projectPic {
    width: 90%;
  }
  .projectWords {
    margin-left: 0;
  }
  .socials i {
    font-size: 3rem;
    padding: 0;
  }
}
@media (max-width: 570px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: 5px;
    text-align: center;
  }
  .headerFlex h2 {
    font-size: 1rem;
    padding-top: 25px;
  }
  h2 {
    font-size: 2.4rem;
  }
  p, a, li {
    font-size: 0.75rem;
  }
  .fa-chevron-down {
    display: none;
  }
  .aboutContainer img {
    width: 65%;
  }
  .aboutRight p {
    font-size: 0.75rem;
  }
  .aboutRight li p {
    font-size: 0.65rem;
  }
  .aboutRight li i {
    font-size: 1.6rem;
  }
  .skillsFlex p {
    font-size: 0.7rem;
  }
  .skillsFlex i {
    font-size: 1.8rem;
  }
  .skillsFlex li {
    width: 33.3333333333%;
  }
  .projectContainer {
    padding: 20px 10px;
  }
  .projects a {
    padding: 0;
  }
  .projects .h3 {
    font-size: 1.8rem;
  }
  .projectSkills li {
    margin: 5px 15px;
  }
  .projectText p {
    margin-top: 20px;
  }
  a.partnerLink {
    font-size: 0.8rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .socials i {
    font-size: 1.5rem;
    padding: 0;
    margin: 15px;
  }
  .socials ul {
    padding: 0;
    margin: 0;
  }
  .formContainer {
    padding: 25px;
    border-radius: 15px;
  }
  .formContainer p {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
  .formTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    width: 100%;
  }
  input[type=text] {
    margin-right: 0;
  }
  input[type=email] {
    margin-left: 0;
  }
}
@media (max-width: 450px) {
  .skillsFlex p {
    font-size: 0.6rem;
  }
  .skillsFlex i {
    font-size: 1.7rem;
  }
  #message {
    letter-spacing: 5px;
  }
}